<div class="register_container">
  <h1 class="form_title">
    Вход
  </h1>
  <form [formGroup]="logged" (ngSubmit)="onSubmit()">
  <div class="form_fields">
    <div class="form_field" [ngClass]="{'has-error': logged.get('email')?.invalid && logged.get('email')?.touched}">
      <input type="text" placeholder="Логин" formControlName="email">
    </div>
    <span class="form_errors_message" *ngIf="logged.get('email')?.invalid && logged.get('email')?.touched">
      <span *ngIf="logged.get('email')?.errors?.['required']">Email не может быть пустым. </span>
      <span *ngIf="logged.get('email')?.errors?.['email']">Введите корректный email. </span>
    </span>
    <div class="form_field" [ngClass]="{'has-error': logged.get('password')?.invalid && logged.get('password')?.touched}">
      <input type="password" placeholder="Пароль" formControlName="password">
    </div>
    <span class="form_errors_message" *ngIf="logged.get('password')?.invalid && logged.get('password')?.touched">
      <span *ngIf="logged.get('password')?.errors?.['required']">Пароль не может быть пустым. </span>
      <span *ngIf="logged.get('password')?.errors?.['minLength']">Недостаточное количество символов. </span>
    </span>
  </div>
  <div class="form_buttons">
    <button class="button" type="submit" [disabled]="logged.invalid">Вход</button>
  </div>
  <div class="registr_word">
    <p class="reg_word">У вас нет аккаунта? <a class="reg_link" (click)="goToReg()">Зарегистрируйтесь.</a></p>
  </div>
  </form>
</div>
<div class="error_message">
  <div class="alert alert-{{message.type}}"
       *ngIf="message.text">
    {{message.text}}
  </div>
</div>


